:root {
  --black-monocle-studio: #1a1b1b;
  --white-monocle-studio: #f8f9fa;
}

body {
  margin: 0;
  font-family: "DM Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: linear-gradient(-45deg, #1c1b1b, #1a1a1a, #000000, #e8e8e8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
  font-family: Diabolik-gras-arrondis;
  src: url(../public/fonts/Diabolik-BlackSmooth.woff2);
}

@font-face {
  font-family: Diabolik-arrondis;
  src: url(../public/fonts/Diabolik-BoldSmooth.woff2);
}

@font-face {
  font-family: Diabolik;
  src: url(../public/fonts/Diabolik-Regular-VF.ttf);
}

@font-face {
  font-family: "DM Sans";
  src: url(../public/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

h1,
.navbar-links {
  font-family: Diabolik-gras-arrondis !important;
}